.ProfileCard {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: auto;
  background: var(--cardColor);
}
.ProfileImg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileImg > img:nth-of-type(1) {
  width: 100%;
}
.ProfileImg > img:nth-of-type(2) {
  width: 6rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  box-shadow: var(--profileShadow);
}
.ProfileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  gap: 10px;
}
.ProfileName > span:nth-of-type(1) {
  font-weight: bold;
}

.ProfileCard > span {
  font-weight: bold;
  color: orange;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.profile-menu {
  gap: 0.3rem;
  margin-top: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.profile-menu > ul {
  gap: 1rem;
  align-items: center;
}
.i-profile:hover {
  cursor: pointer;
  background: transparent;
  font-weight: 1000;
}
