.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}
.a-bottom {
  margin-left: 2rem;
}

.r-button {
  height: 3rem;
  width: 90%;
  align-self: center;
}
/* RightSide.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: #dc3545;
}

.close-button:hover {
  background-color: #c82333;
}

/* Định dạng cho khung thông báo */
.notification-dropdown {
  position: absolute;
  top: 50px; /* Tùy chỉnh vị trí */
  right: 20px; /* Tùy chỉnh vị trí */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
}

.notification-dropdown .dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.notification-dropdown .dropdown-body {
  margin-top: 10px;
}

.notification-dropdown button {
  background-color: #ff4c4c;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.notification-dropdown button:hover {
  background-color: #ff2d2d;
}
