.RightSide bg-base-100 rounded-xl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}
.a-bottom {
  margin-left: 2rem;
}

.r-button {
  height: 3rem;
  width: 90%;
  align-self: center;
}
