.LogoSearch {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.LogoSearch > img {
  width: 4rem;
  height: 4rem;
  margin-right: 2px; /* Khoảng cách giữa logo và input */
}
.Search {
  margin-top: 0.75rem;
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  width: 15rem;
  height: 2.5rem;
}
.search-input {
  align-items: center;
  padding-left: 5px; /* Khoảng cách từ bên trái của input */
  padding-right: 5px;
}
.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
}
.S-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  border-radius: 5px;
  padding: 5px;
  color: white;
  width: 2rem;
  height: 2.5rem;
}
.S-icon:hover {
  cursor: pointer;
}
.SearchPage {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
  height: 100vh;
}
